# general
.DS_Store
.env
.env.local
*.db
*.sqlite

# backend
backend/bin/
backend/tmp/
backend/*.exe
backend/repos_cache/ 

# engine
engine/target/
engine/Cargo.lock
engine/pkg/

# ide
.idea/
.vscode/
*.swp
